table {
    width: 80%;
    margin:0;
    margin: auto;
    padding-top: 15px;
  }

  .loading-spinner{
    padding: 35px;
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }