
mat-card{
  margin:2em auto;
  max-width: 60%;
  margin-top:30px;
}

.cloumn-flex{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-width: auto;
}

.loading-spinner{
  background: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

  