mat-card{
    margin:2em;
    margin:auto;
    max-width: 40%;
    min-width: 500px;
}

.full-width{
    justify-self:left;
    align-self:left;
    width: 45%;
    padding-left: 10px;
}

.partial-width{
    width: 45%;
    padding-left: 10px;
}

.buttonsForm{
    text-align: center;
}




